body {

    padding: 0;
    margin: 0;
    background: #ebc4db;
}
.header {
    background-image: url("../images/header_bg.png");
    background-size: cover;
    background-position: center;
    position: relative;
    padding-right: 0%;
    padding-left: 0%;
    
}
.description {
    left: 25%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: left;
}
.description h1 {
    font-size: 6rem;
    color: #cf0542;
}
.description p {
    left: 100%;
    color: rgb(141, 49, 218);
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 1.5;
}
.description button {
    border:1px solid #b446af;
    background:#f33d6b;
    border-radius: 0;
    color:#fff;
}
.description button:hover {
    border:1px solid #fff;
    background:rgb(88, 223, 233);
    color:#000;
}
.navbar {
    background: #dd4c77;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-end;
}

.footer{
    padding: 20px;
    text-align: center;
    background: violet;
}