{%extends "layout.html"%}
{%block content%}
<div class="about">
    <div class="wholecard"><br><br>
        <center>
          <h1 class="main-head" style="margin-right:0px;margin-left:-40px">
            "Women have a place at the table when it comes to science. Don't let anyone tell you otherwise!"</h1>
            <br>
            <p>-Dr. Marye Anne Fox</p>
          </center>
        <div class="row">
    
    
    
          <div class="leftcolumn">
            <div class="card">
              <div class="content">
                <h2>Who is a STEMinist?</h2><br>
                    <p>
                        Someone who advocates for equal representation of social groups in STEM.  
                        STEM is a global initiative that is not bound by race, ethnicity, politics, or stereotypes.
                    </p>
                </div>
            </div>
          </div>
    
          <div style="margin-right:0px;margin-left:0px">
            <div class="leftcolumn">
              <div class="card">
                <div class="content">
                  <h2>What does the current stats say about women in STEM in India?</h2><br>
                  <p>
                     “Of the 2.8 lakh engineers and scientists employed in research and engineering 
                    institutions across the country; only 14 per cent are women, which is 39,000.”
                    Textile Minister Smriti Irani pointed out at the Women Science Congress
                  </p>
                  </div>
                </div>
              </div>
            </div>
          
    
          <div class="leftcolumn">
            <div class="card">
              <div class="content">
                <h2>What are the global biases against women working at technical jobs?</h2><br>
                <p>
                    <dd>1. Prove-it-again bias: 76% of women engineers reported having to prove themselves 
                        over and over to get the same level of respect as their colleagues.</dd>
                    <dd>2. Tightrope bias: 77% of women engineers reported that they were confined 
                        to a narrower range of acceptable behaviours than their colleagues.</dd>
                    <dd>3. Maternal wall bias: 40% of women engineers reported bias against
                         mothers at their workplaces.</dd>
                    <dd>4. Tug of war bias: 45% of women reported that they had to compete with their
                         female colleagues to get the one “woman’s spot” available</dd>
                </p>
                </div>
            </div>
          </div>

          <div class="leftcolumn">
            <div class="card">
              <div class="content">
                <h2>Why do we need more women in STEM?</h2><br>
                <p>
                    1. The stereotype of a scientist who spends hours in a bleak lab, or a mathematician student without a social life, 
                        doesn’t seem to be very appealing to women. But the reality is, STEM jobs are not necessarily anti-social.
                </p>
                </div>
            </div>
          </div>
</div>
{%endblock%}