{%extends "layout.html"%}
{%block content%}
<div class="about">
    <br>
        <h3>"Women have a place at the table when it comes to science. Don't let anyone tell you otherwise!"</h3>
    </br>
    <p>-Dr. Marye Anne Fox</p>
    <dl>
        <dt>Who is a STEMinist?</dt>
        <dd>Someone who advocates for equal representation of social groups in STEM.  
            STEM is a global initiative that is not bound by race, ethnicity, politics, or stereotypes.</dd>
        <dt>What does the current stats say about women in STEM in India?</dt>
        <dd> “Of the 2.8 lakh engineers and scientists employed in research and engineering 
            institutions across the country; only 14 per cent are women, which is 39,000.”
           Textile Minister Smriti Irani pointed out at the Women Science Congress.<dd>
        <dt>What are the global biases against women working at technical jobs?</dt>
        <dd>1. Prove-it-again bias:76% of women engineers reported having to prove themselves 
            over and over to get the same level of respect as their colleagues.</dd>
        <dd>2. Tightrope bias:77% of women engineers reported that they were confined 
            to a narrower range of acceptable behaviours than their colleagues.</dd>
        <dd>3. Maternal wall bias:40% of women engineers reported bias against
             mothers at their workplaces.</dd>
        <dd>4. Tug of war bias:45% of women reported that they had to compete with their
             female colleagues to get the one “woman’s spot” available</dd>
        <dt>Why do we need more women in STEM?</dt>
        
    </dl>

</div>
{%endblock%}